<nav class="nav-bar navbar-default" style="height:100%;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Angular 6</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/">Home</a></li>
                <!-- <li routerLinkActive="active"><a routerLink="/server">Server</a></li>
                <li routerLinkActive="active"><a routerLink="/servers">Servers</a></li>
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>   
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li> -->
                <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>   
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/user">Profile</a></li>
                        <li><a routerLink="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>