<div class="container">
  <div class="row">
    <div class="list-group" *ngFor="let article of articles">
      <div class="list-group-item">
        <a routerLink="/article/read/{{article.id}}"><h2 style="font-size:200%;">{{article.title}}</h2></a>
        <p>{{article.content}}</p>
      </div>
      <hr>
    </div>  
  </div>
</div>

<a routerLink="/article/create">
  <button mat-fab>
      
    <mat-icon aria-label="Example icon-button with a heart icon">
      <!-- For IE9 or below. -->
      <i class="material-icons">
      add
      </i>
    </mat-icon>
    
  </button>
</a>